.content{
	width: 99%;
	text-align: center;
}

/**Movil**/
@media (max-width: 767px) {
	.Desktop {
		display: none;
	}
	.Tablet {
		display: none;
	}

}

/**Tablet**/
@media (max-width: 768px) and (max-width: 990px) {
	.Desktop {
		display: none;
	}
	.Movil {
		display: none;
	}

}

/**Escritorio**/
@media (min-width: 991px) {
	.Tablet {
		display: none;
	}
	.Movil {
		display: none;
	}

}

*{
	padding: 0;
	margin: 0;
}

h1 {
	color: white;
	text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
	text-align: center;
}
h2 {
 text-align: center;
 background-color: black;
 color: white;
 padding: 20px;
}
nav ul {
	background-color: #757575;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
nav li {
	display: inline-flex;
}
nav a {
	text-decoration: none;
	color: black;
	padding: 10px;
	width: 150px;
}
nav li :haver {
	background-color: black;
}
div.galeria {
	margin: 10px 20px;
	box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0. 19);
	float: left;
	width: 350px;
}
div.galeria img {
	width: 100%;
	height: auto;
}
div.galeria:hover {
	border: 1px solid lightcoral;
	transform: rotate(-3deg);
}
div.pie {
	text-align: center;
	text-shadow: 2px 2px 5px purple;
	padding: 10px;
}